@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800&family=Inter:wght@500;600;800;900&family=Rubik:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
#navbarSupportedContent ul li a{
    color: #fff;
    font-weight: bold;
    margin-right: 50px;
  /*  background-color: #150050;*/
}

#navbarSupportedContent ul li a:hover{
    color: #008000;

}
.navbarScroll.navbarDark {
    background-color: #150050;
}

.logo{
    height: 50px;
    width: 50px;
}
/* hero background image */
.main-banner {
    height:100vh;
    width: 100%;
    background: url('images/bg-1.png');
    background-size:cover;
    box-sizing: border-box;
    background-position: center;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4rem;
    text-align: left;
    padding-left: 8%;
    color: #3cb7ec;
}
.hero_title span{
    color: goldenrod;
}
.hero_desc {
    font-size: 20px;
    text-align: left;
    padding-left: 8%;
    color: #fff;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* About Section*/
section {
    padding-top: 40px;
}

.about{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-right: 8%;
    padding-left: 8%;
    box-sizing: border-box;
    background-image: url(images/bg-2.png);
}
#about-title{
    color: #fff;
}

section .container{
    width: 80%;
    margin: 30px auto;
}

section .container h1{
    font-weight: 800;
}

.about-title{
    text-align: right;
}
#about_intro{
    text-align: justify;
    font-size: 20px;
}

/* services section css */
.services{
    height: 100vh;
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
    box-sizing: border-box;
    background-color: #150050;
}

.skills-title{
    color: goldenrod;
    text-align: center;
}

.servicesText.card {
    height: 300px;
    cursor: pointer;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
    font-size: 1rem;
}
.card-body h4{
    font-weight: bold;
}

.card-body p{
    text-align: center;
}

.card:hover .servicesIcon {
    color: #008000;
}

.servicesText:hover {
    border: 1px solid #008000;
}
#portfolio{
    margin-top: 4rem
}

/*Contact*/

/* social media icons styling */
.social-icons {
    font-size: 32px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #fff;
}
/* footer styling */
#footer {
    background-color: #150050;
    text-align: center;
}

#contact {
    padding-bottom: 4rem;
}